@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap");

* {
	font-family: "Roboto", sans-serif;
	box-sizing: border-box;
}

.content {
	padding: 1em;
}

.content > header > h1 {
	margin: 0;
}

ol.pokemon {
	display: grid;
	grid-template-columns: 1fr 1fr;
	list-style: none;
	padding: 0;
	margin: 0;
}

ol.pokemon > li {
	margin: 0.5em;
	padding: 1.5em;
	border-radius: 1em;
	height: 220px;
	color: rgb(247, 245, 245);
	display: flex;
	flex-direction: column;
}

.grass {
	background-color: #1dcaaa;
}

.fire {
	background-color: #ff6265;
}

img {
	max-width: 100%;
	height: 100px;
}

.number {
     text-align: end;
}

.types {
     margin: 0;
     padding: 0;
     list-style: none;
}